/manual-authz
/manual-dir-iter
/manual-tcp
/test-bus
/test-corrupt
/test-dbus-daemon
/test-dbus-daemon-eavesdrop
/test-exit
/test-loopback
/test-marshal
/test-names
/test-printf
/test-privserver
/test-refs
/test-relay
/test-segfault
/test-service
/test-shell
/test-shell-service
/test-sleep-forever
/test-spawn
/test-syntax
/test-syslog
