/*.pc
/.ccache/
/Doxyfile
/aclocal.m4
/autom4te.cache
/build-aux/
/bus/tmpfiles.d/dbus.conf
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/dbus-1.*.tar.*
/dbus-1.*/
/lcov.html/
/lcov.info
/lcov.info.tmp
/libtool
/m4/libtool.m4
/m4/lt*.m4
/stamp-h
/stamp-h.in
/stamp-h1
/test-driver

*.bb
*.bbg
*.da
*.gcda
*.gcno
*.gcov
*.o
*.orig
*.rej
*~
.*.sw?
Makefile
Makefile.in
cscope.out
tags
