/*.pc
/.ccache/
/Doxyfile
/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux/
/bus/tmpfiles.d/dbus.conf
/cmake/DBus1Config*.cmake
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/dbus-1.*-coverage.info
/dbus-1.*-coverage.info.tmp
/dbus-1.*-coverage/
/dbus-1.*.tar.*
/dbus-1.*/
/libtool
/m4/libtool.m4
/m4/lt*.m4
/stamp-h
/stamp-h.in
/stamp-h1
/test-driver

*.bb
*.bbg
*.da
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.orig
*.rej
*~
.*.sw?
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
cscope.out
tags
