.*.sw?
*.orig
*.rej
*.o
*~
/.ccache/
/build-aux/
/config.cache
/config.log
/config.status
/configure
cscope.out
/*.pc
/libtool
/m4/lt*.m4
/m4/libtool.m4
/stamp-h1
/stamp-h
/stamp-h.in
/Doxyfile
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
*.bb
*.bbg
*.da
*.gcov
*.gcda
*.gcno
tags
/bus/tmpfiles.d/dbus.conf
/dbus-1.*/
/dbus-1.*.tar.*
/lcov.html/
/lcov.info
/lcov.info.tmp
/test-driver
